  
 p { padding: 0;
    margin: 0;
    box-sizing: border-box;




  }

  ul { list-style: none;}
a { text-decoration: none;}

body { 
 
font-family: "Quicksand", sans-serif;
}

.container{ 

max-width: 1000px; 
margin: auto;
}


.primary-text{ color: yellow}  
.btn { display: inline-block;
    padding: 15px 30px; 
    border: none;
    border-radius: 15px;
}

.btn-primary {
    color: white;
    border: 1px solid white;

}





.btn-primary:hover { background: yellow;  }

header { 
height: 100vh;
background-image: url(images/Fast-Food-Restaurants.jpg);

backface-visibility: 0.5;
position: relative;
background-color: black;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover
} 



#navbar {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    


}

#navbar img {

    width: 80px;
    margin-left: 100px;
}

#navbar ul { display: flex;
    margin-right: 100px;


}
#navbar ul li a{
     padding: 15px 20px;
     color: rgb(252, 251, 251);
     font-weight: 600;



}
#navbar ul li a:hover { 
    border-bottom: 2px solid #852626; 


}
header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 75%;
}

header .content h1 { font-size: 40px ;
    color: white; 
}
header .content p { margin: 20px 0 40px;
color: white;}

header { filter: brightness(0.8)} 



header * { 
    z-index: 30;
}




#about { 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    transition: all .4s ease;
}
#about .title
#offers .title
#menu .title {
    text-align: center;
    margin-bottom: 4rem;
    transition: all .4s ease;

}

#about h2,
#offers .h2
menu .h2 { 
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    transition: all .4s ease;
}
#about .title p { 
    font-size: 14px;
    font-weight: 666;
    justify-content: center;
align-items: center;
    text-align: center;
    transition: all .4s ease;
}

#about .about-contect {
display: flex ;
justify-content: space-between;
transition: all .4s ease;

}

#about .about-content img{
    width: 450px;
    transition: all .4s ease;
}

#about .about-content p{
    margin-right: 7rem;
    font-weight: 400;
    line-height: 150%;
    transition: all .4s ease;
}


#offers { 
    height: 80vh;
    display: flex ;
    justify-content: center;
    background-color: burlywood;

}
#offers .title h2 {
    justify-content: center;
align-items: center;
    text-align: center;
}

#offers .title p {
    font-weight: 500; 
    color: #852626;
    justify-content: center;
align-items: center;
    text-align: center;

}
#offers .offer-items { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
#offers .offer-items img {
    width: 4;

}
 




#menu {
  background-color: bisque;
  padding: 5rem 0;
}

#menu .title h2 {
  color: #383848;
}
#menu .title p {
  color: #9a9a9a;
  font-weight: 500;
}

#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#menu .menu-items .menu-item img { 
  width: 80px;
  margin-right: 20px;  
  border-radius: 70%;
}

#menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}

#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}

#menu .menu-items .menu-item p {
  margin-top: 10px;
}

#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}


#gallery {
  background-color:antiquewhite;
  padding: 8rem 0 6rem;
}
#gallery h2 {
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gallery .img-gallery img {
  margin: 20px;
  width: 280px;
  height: 200px;
  border-radius: 15px;
  opacity: 0.8;
}

#gallery .img-gallery img:hover {
  opacity: 1;
}


